.text-area {
    -fx-control-inner-background: #DCDCDC;
    -fx-border-width: 0.2;
    -fx-border-color: black;
}

.text-field {
    -fx-background-color: #DCDCDC;
    -fx-border-width: 0.2;
    -fx-border-color: black;
}

.combo-box {
    -fx-background-color: #DCDCDC;
    -fx-border-width: 0.2;
    -fx-border-color: black;
    -fx-pref-width: 250;
}

.combo-box-popup .list-view {
    -fx-pref-width: 250;
    -fx-padding: 0;
}

.combo-box-popup .list-view .list-cell
{
    -fx-background-color: #DCDCDC;
    -fx-text-fill: -fx-text-inner-color;
}

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: white;
    -fx-text-fill: -fx-text-inner-color;
}

.button {
    -fx-background-color: #A6A6A6;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #DCDCDC;
}

#systemUIButton {
    -fx-background-color: transparent;
}

#systemUIButton:hover {
    -fx-background-color: #DCDCDC;
}

.label {
   /* -fx-font-family: "Tahoma";*/
}

#paneContainer {
    -fx-background-color: #C0C0C0;
}

#sideRegion {
    -fx-background-color: #808080;
}

#menuGridPane {
    -fx-background-color: #808080;
}

.menu-bar {
    -fx-background-color: transparent;
}

.menu {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-inner-color;
}

.menu-item
{
    -fx-background-color: #C0C0C0;
    -fx-text-fill: black;
}

.context-menu {
    -fx-background-color: #C0C0C0;
}

.menu-item:hover
{
    -fx-text-fill: -fx-text-inner-color;
}
